= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js", "video.js"
= stylesheet_link_tag "video"

:javascript
  $(document).ready(function() {
    createRebeccas(#{@rebeccas});
  });

- @rebeccas.to_i.times do |i|
  %div{:id => "playerContainer#{i}", :class => "playerContainer"}
    %div{:id => "playerArea#{i}"}
      You don't have the right version of flash
