.row
  .span8.offset2
    %h2
      Journal Entry
    #comment.well
      %p#comment-display
        = @entry.comment
      = text_area_tag "comment-entry", @entry.comment
      
.row
  .span4.offset2
    %h2
      Macro
    = form_tag "macro", :class => 'form-inline' do
      = render :partial => 'radio_buttons', :locals => {:number => 10, :label => "mood"}
      = render :partial => 'radio_buttons', :locals => {:number => 10, :label => "energy"}
      = render :partial => 'radio_buttons', :locals => {:number => 10, :label => "productivity"}
  
  .span4.offset2
    %h2
      Sleep
    = form_tag "sleep", :id => 'sleep-form' do
      = label_tag 'Woke up:', nil, :class => "control-label"
      = select_tag 'wake_up_hour', hour_select_options(@entry.wake_up_hour), {:class => 'sleep-settings'}
      = select_tag 'wake_up_minute', minute_select_options(@entry.wake_up_minute), {:class => 'sleep-settings'}
      %br
      = label_tag "Slept:", nil, :class => "control-label"
      = select_tag 'sleep_hour', hour_select_options(@entry.sleep_hour), {:class => 'sleep-settings'}
      = select_tag 'sleep_minute', minute_select_options(@entry.sleep_minute), {:class => 'sleep-settings'}
    
.row
  .span4.offset2
    %h2
      Food
    %table.table
      %thead
        %tr
          %th
            Food
          %th
            Calories
          %th
            Caffeine
      %tbody
      - @entry.foods.each do |food|
        %tr
          %td
            = food.name
          %td
            = food.calories
          %td
            = food.caffeine
      %tr
        %td
          = text_field_tag 'food-name', '', :class => 'well new-field', :tab_nav => 0
        %td
          = text_field_tag 'food-calories', '', :class => 'well new-field', :tab_nav => 1
        %td
          = text_field_tag 'food-caffeine', '', :class => 'well new-field', :tab_nav => 2, :final_input => true
      
  .span4.offset2
    %h2
      Workout
    %table.table
      %thead
        %tr
          %th
            Activity
          %th
            Started at
          %th
            Length
          %th
            Intensity
      %tbody
      - @entry.workouts.each do |workout|
        %tr
          %td
            = workout.activity
          %td
            = "#{workout.start_hour}:00 hours"
          %td
            = workout.length
          %td
            = workout.intensity
      %tr
        %td
          = text_field_tag 'workout-activity', '', :class => 'well new-field', :tab_nav => 0
        %td
          = text_field_tag 'workout-start_hour', '', :class => 'well new-field', :tab_nav => 1
        %td
          = text_field_tag 'workout-length', '', :class => 'well new-field', :tab_nav => 2
        %td
          = text_field_tag 'workout-intensity', '', :class => 'well new-field', :tab_nav => 3, :final_input => true
      
    // .btn.btn-success#add-workout
    //   +

:javascript
  $(function() {
    $('.sleep-settings').change(function() {
      submitTableChange('entry', $(this).attr('name'), $(this).val());
    })
  
    $(':radio').click(function(e) {
      submitTableChange('entry', $(this).attr('name'), $(this).attr('value'));
    })
    
    function submitTableChange(tableName, columnName, value) {
      $.ajax({
        url: "/journal/submit_table_change",
        data : {id : #{@entry.id}, table_name : tableName, column_name : columnName, value : value},
        success : function(data) {
          console.log(data);
        }
      });
    }
    
    function submitRecordCreation(tableName, attributes) {
      $.ajax({
        url: "/journal/submit_record_creation",
        data : {id : #{@entry.id}, table_name : tableName, attributes: attributes},
        success : function(data) {
          console.log(data);
          window.location = window.location;
        }
      });
    }
    
    //Adds to attributes array, and returns the table name
    function extractWellData($element, attributes) {
      var idSplit = $element.attr('id').split("-");
      attributes[idSplit[1]] = $element.val();
      var tableName = idSplit[0];
      return tableName;
    }
    
    //New field wells for workout and food
    $('.new-field').keydown(function(e) {
      if(e.keyCode == 13 || e.keyCode == 9) {
        var $this = $(this);
        var attributes = {};
        
        if($this.attr('final_input')) {
          var $siblings = $(this).parent().siblings();
          for(var i = 0; i < $siblings.length; i++) {
            extractWellData($siblings.eq(i).find('.new-field'), attributes);
          }
          
          var tableName = extractWellData($this, attributes);
          
          submitRecordCreation(tableName, attributes);
        }
        
        var currentTabNav = parseInt($(this).attr('tab_nav'));
        $(this).parent().siblings().eq(currentTabNav).find('.new-field').focus();
        return false;
      }
    })
  
  
    //Comments js
    $('#comment').one('click', showEdit);
    
    function showEdit(e) {
      $('#comment-display').hide();
      $('#comment-entry').show();
      $('body').one('click', hideEdit);
      return false;
    }
    
    function hideEdit(e) {
      if($('#comment').find(e.target).length > 0) {
        $('body').one('click', hideEdit);
        return false;
      }
      $('#comment-display').show();
      $('#comment-entry').hide();
      $('#comment').one('click', showEdit);
      return false;
    }
    
    $('#comment-entry').keydown(function(e) {
      if(e.keyCode == 13 && e.shiftKey === true) {
        submitComments($(this).val(), $(this))
      }
    });
  
    function submitComments(newComments, $textArea) {
      $.ajax({
        url: "/journal/submit_comment",
        data : {id : #{@entry.id}, comment : newComments},
        success : function(data) {
          $('#comment-display').html(newComments);
          $('#comment-display').toggle();
          $textArea.toggle();
        }
      });
    }
  });